[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/freetype2"]
	path = external/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/CMakeModules"]
	path = external/CMakeModules
	url = https://github.com/lbaehren/CMakeModules.git
